@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

:root {
  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

body {
  @apply antialiased min-h-screen bg-neutral-1 dark:bg-neutral-dark-1;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.content {
  @apply prose mx-auto px-8 py-24 dark:prose-invert focus:outline-none prose-a:decoration-dashed hover:prose-a:decoration-solid focus:prose-a:decoration-solid prose-pre:my-0 prose-pre:rounded-lg prose-table:block prose-table:overflow-x-auto prose-table:whitespace-nowrap md:px-0;

  :is(:where(h1, h2, h3, h4, h5, h6):not(:where([class~="not-prose"] *))) {
    @apply flex scroll-mt-24 items-center gap-2;

    &:hover .header-anchor {
      @apply opacity-100;
    }

    code {
      font-weight: inherit;
    }
  }

  :where(hr + h2):not(:where([class~="not-prose"] *)) {
    @apply -mt-4;
  }
}

.header-anchor {
  @apply text-neutral-10 opacity-0 transition delay-100 duration-200 hover:text-neutral-11 focus:opacity-100 dark:text-neutral-dark-10 dark:hover:text-neutral-dark-11;
}
